*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header{
        box-shadow: 0px 2px 6px rgb(248, 245, 245);
        height: 60px;
}

header nav{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav .nav-items a{
    font-size: 1.1rem;
    padding-right: 30px;
    color: black;
}
nav .image1 img{
    width: 100px;
    height: 60px;
}
header nav .btn1{
    width: 200px;
    height: 45px;
    background-color: rgb(11, 169, 177);
    color: white;
    margin: 3px;
    border-radius: 6px 6px 6px 6px;
    border: 2px solid rgb(11, 169, 177)
}

             /* <!-- header complete  --> */


.mainsection{
    width: 100vw;
    height:50vh;
    background-image: url(./medical-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.abc{
    padding: 50px;
}
.mainsection h1{
    font-size: 3.1rem;
    color: rgb(151, 146, 146);
    letter-spacing: 2px;
    
}
.mainsection p{
    font-size: 1.1rem;
    margin: 12px;
    color: rgb(151, 146, 146);
    letter-spacing: 2px;
}
.mainsection .btn2{
    width: 100px;
    height: 40px;
    background-color: white;
    color: black;
    border: 2px solid white;
    margin: 6px;
}



          /* <!-- first section completed   --> */


.subsection{
    text-align: center;
} 

.box1{
    width: 250px;
    height: 160px;
    background-color: rgb(249, 244, 244);
}
.pcb{
    margin: 22px;
}

.box1 img{
    width: 60px;
    height: 75px;
}
.subsection p{
    font-size: smaller;
}
.subsection h3{
    font-size: 1.1rem;
}

.xyz{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 12px;
}

         /* <!--Second Section Completed   -->*/


                       /* Fisrt media query */

@media  (max-width:843px){
    header nav .nav-items a{
        font-size: 1.0rem;
        padding: 4px;
    }
    nav .image1 img{
        width: 90px;
        height: 55px;
    }
    header nav .btn1{
        width: 180px;
        height: 35px;
        font-size: 0.9rem;
    }
    .mainsection{
        width: 100vw;
        height: 40vh;
    }
    
                    /* second media query */
}
@media (max-width:780px) {
    header{
        height: 55px;
}
    .mainsection h1{
        font-size: 2.7rem;
    }
    .mainsection p{
        font-size: 0.9rem;
    }
    .mainsection .btn2{
        width: 80px;
        height: 30px;
        margin: 2px;
        font-size: 0.7rem;
    }
    .mainsection{
        width: 100vw;
        height: 35vh;
    }
}
                    /* third media query */

@media (max-width:717px) {
    header{
        height: 50px;
    }
    .box1{
        width: 180px;
        height: 150px;
        background-color: rgb(249, 244, 244);
    }
    .pcb{
        margin: 15px;
    }
    
    .box1 img{
        width: 45px;
        height: 50px;
    }
    .subsection p{
        font-size: 0.7rem;
    }
    .subsection h3{
        font-size: 0.9rem;
    }
    .pcb h2{
        font-size: 1.2rem;
    }
    header nav .nav-items a{
        font-size: 0.8rem;
        padding: 2px;
    }
    nav .image1 img{
        width: 70px;
        height: 40px;
    }
    header nav .btn1{
        width: 160px;
        height: 25px;
        font-size: 0.7rem;
    }
    
}
                 /* fourth media query */
    
 @media (max-width:525px) {
    header{
        height: 45px;
    }
    header nav .nav-items a{
        font-size: 0.6rem;
        padding: 2px;
    }
    nav .image1 img{
        width: 50px;
        height: 30px;
    }
    header nav .btn1{
        width: 100px;
        height: 20px;
        font-size: 0.5rem;
    }
    .mainsection h1{
        font-size: 2.3rem;
    }
    .mainsection p{
        font-size: 0.7rem;
    }
    .mainsection .btn2{
        width: 70px;
        height: 25px;
        margin: 2px;
        font-size: 0.5rem;
    }
    .mainsection{
        width: 100vw;
        height: 30vh;
    }
    .box1{
        width: 180px;
        height: 150px;
        background-color: rgb(249, 244, 244);
    }
    .pcb{
        margin: 15px;
    }
    
    .box1 img{
        width: 40px;
        height: 45px;
    }
    .subsection p{
        font-size: 0.6rem;
    }
    .subsection h3{
        font-size: 0.8rem;
    }
}

                 /* fifth media query */

 @media (max-width:453px) {
    header{
        height: 40px;
    }
    .mainsection h1{
        font-size: 1.8rem;
    }
    .mainsection p{
        font-size: 0.6rem;
    }
    .mainsection .btn2{
        width: 50px;
        height: 20px;
        margin: 2px;
        font-size: 0.4rem;
    }
    .mainsection{
        width: 100vw;
        height: 25vh;
    }
 }                
                  /* sixth media query */

 @media (max-width:385px) {
    .pcb{
        margin: 8px;
    }
    .box1 img{
        width: 25px;
        height: 30px;
    }
    .subsection p{
        font-size: 0.4rem;
    }
    .subsection h3{
        font-size: 0.6rem;
    }
    .pcb h2{
        font-size: 0.7rem;
    }
    .box1{
        width: 140px;
        height: 100px;
    }
    header nav .nav-items a{
        font-size: 0.5rem;
        padding: 2px;
    }
    nav .image1 img{
        width: 40px;
        height: 30px;
    }
    header nav .btn1{
        width: 70px;
        height: 15px;
        font-size: 0.3rem;
    }
    .mainsection{
        width: 100vw;
        height: 20vh;
    }
    .mainsection .btn2{
        width: 50px;
        height: 15px;
        margin: 2px;
        font-size: 0.3rem;
    }
    .mainsection h1{
        font-size: 1.2rem;
    }
    .mainsection p{
        font-size: 0.4rem;
    }
 }             
 
                      /* seventh media query */

 @media (max-width:312px) {
    header{
        height: 30px;
    }
    header nav .nav-items a{
        font-size: 0.3rem;
        padding: 2px;
    }
    .mainsection h1{
        font-size: 0.9rem;
    }
    .mainsection p{
        font-size: 0.3rem;
    }
    .mainsection{
        width: 100vw;
        height: 16vh;
    }
    .mainsection .btn2{
        width: 40px;
        height: 10px;
        margin: 2px;
        font-size: 0.2rem;
    }
    nav .image1 img{
        width: 30px;
        height: 20px;
    }
    header nav .btn1{
        width: 50px;
        height: 10px;
        font-size: 0.2rem;
    }
    .pcb{
        margin: 4px;
    }
    .box1 img{
        width: 15px;
        height: 20px;
    }
    .subsection p{
        font-size: 0.3rem;
    }
    .subsection h3{
        font-size: 0.5rem;
    }
    .pcb h2{
        font-size: 0.5rem;
    }
    .box1{
        width: 100px;
        height: 70px;
    }
 }              
 
                     /* eight media query */

 @media (max-width:243px) {
    .pcb{
        margin: 6px;
    }
    .box1 img{
        width: 10px;
        height: 10px;
    }
    .subsection p{
        font-size: 0.2rem;
    }
    .subsection h3{
        font-size: 0.3rem;
    }
    .pcb h2{
        font-size: 0.4rem;
    }
    .box1{
        width: 80px;
        height: 60px;
    }
}

                     /* ninth media Query */

 @media (max-width:220px) {
    header{
        height: 20px;
    }
    header nav .nav-items a{
        font-size: 0.2rem;
        padding: 2px;
    }
    .mainsection h1{
        font-size: 0.6rem;
    }
    .mainsection p{
        font-size: 0.2rem;
    }
    
    .mainsection .btn2{
        width: 15px;
        height: 4px;
        margin: 2px;
        font-size: 0.1rem;
    }
    .mainsection{
        width: 100vw;
        height: 15vh;
    }
    nav .image1 img{
        width: 15px;
        height: 15px;
    }
    header nav .btn1{
        width: 30px;
        height: 8px;
        font-size: 0.1rem;
    }
 }                    