*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header{
        box-shadow: 0px 2px 6px rgb(248, 245, 245);
        height: 60px;
}

header nav{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav .nav-items a{
    font-size: 1.1rem;
    padding-right: 30px;
    color: black;
}
nav .image1 img{
    width: 100px;
    height: 60px;
}
header nav .btn1{
    width: 200px;
    height: 45px;
    background-color: rgb(11, 169, 177);
    color: white;
    margin: 3px;
    border-radius: 6px 6px 6px 6px;
    border: 2px solid rgb(11, 169, 177)
}

             /* <!-- header complete  --> */


.mainsection{
    width: 100vw;
    height:50vh;
    background-image: url(./medical-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.mainsection h1{
    font-size: 3.3rem;
    color: rgb(151, 146, 146);
    letter-spacing: 2px;
    padding: 20px;
    
}
.mainsection p{
    font-size: 1.3rem;
    margin: 12px;
    color: rgb(151, 146, 146);
    letter-spacing: 2px;
    padding: 10px;
}
.mainsection .btn2{
    width: 120px;
    height: 50px;
    background-color: white;
    color: black;
    border: 2px solid white;
    margin: 8px;
    padding: 10px;
}



          /* <!-- first section completed   --> */


.subsection{
    text-align: center;
} 

.box1{
    width: 250px;
    height: 160px;
    background-color: rgb(249, 244, 244);
}
.pcb{
    margin: 22px;
}

.box1 img{
    width: 60px;
    height: 75px;
}
.subsection p{
    font-size: smaller;
}
.subsection h3{
    font-size: 1.1rem;
}

.xyz{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 12px;
}

         /* <!--Second Section Completed   -->*/


@media (max-width:984px) {
    .mainsection h1{
    font-size: 2.9rem;
    padding: 2px;
    }
    .mainsection p{
    font-size: 1.1rem;
    padding: 2px;
    }
    .mainsection .btn2{
    width: 100px;
    height: 40px;
    margin: 4px;
    padding: 2px;
    font-size: 0.7rem;
    }
    header nav .nav-items a{
        font-size: 1.0rem;
        padding: 4px;
    }
    nav .image1 img{
        width: 90px;
        height: 55px;
    }
    header nav .btn1{
        width: 180px;
        height: 35px;
        font-size: 0.9rem;
    }
}
@media (max-width:650px) {
    header{
        height: 50px;
    }
    .box1{
        width: 180px;
        height: 150px;
        background-color: rgb(249, 244, 244);
    }
    .pcb{
        margin: 15px;
    }
    
    .box1 img{
        width: 45px;
        height: 50px;
    }
    .subsection p{
        font-size: 0.7rem;
    }
    .subsection h3{
        font-size: 0.9rem;
    }
    .pcb h2{
        font-size: 1.2rem;
    }
    header nav .nav-items a{
        font-size: 0.8rem;
        padding: 2px;
    }
    nav .image1 img{
        width: 70px;
        height: 40px;
    }
    header nav .btn1{
        width: 160px;
        height: 25px;
        font-size: 0.7rem;
    }
    
}
 @media  (max-width:525px){ 
    .mainsection{
        width: 100vw;
        height: 30vh;
    }
    .mainsection h1{
        font-size: 1.3rem;
        }
        .mainsection p{
        font-size: 0.6rem;
        }
        .mainsection .btn2{
        width: 60px;
        height: 30px;
        margin: 2px;
        font-size: 0.5rem;
        }
        header{
            height: 30px;
        }
        header nav .nav-items a{
            font-size: 0.6rem;
            padding: 2px;
        }
        nav .image1 img{
            width: 45px;
            height: 25px;
        }
        header nav .btn1{
            width: 90px;
            height: 20px;
            font-size: 0.4rem;
        }
}
@media (max-width:370px) {
    header{
        height: 25px;
    }
    header nav .nav-items a{
        font-size: 0.4rem;
        padding: 2px;
    }
    nav .image1 img{
        width: 35px;
        height: 20px;
    }
    header nav .btn1{
        width: 70px;
        height: 15px;
        font-size: 0.3rem;
    }
    .mainsection{
        width: 100vw;
        height: 25vh;
    }
    .mainsection h1{
        font-size: 0.9rem;
        }
        .mainsection p{
        font-size: 0.5rem;
        }
        .mainsection .btn2{
        width: 50px;
        height: 25px;
        margin: 2px;
        font-size: 0.4rem;
        }
        .pcb{
            margin: 10px;
        }
        .box1{
            width: 130px;
            height: 120px;
        }
        
        .box1 img{
            width: 25px;
            height: 30px;
        }
        .subsection p{
            font-size: 0.4rem;
        }
        .subsection h3{
            font-size: 0.5rem;
        }
        .pcb h2{
            font-size: 0.8rem;
        }
}
@media (max-width:277px) {
    header{
        height: 20px;
    }
    header nav .nav-items a{
        font-size: 0.3rem;
    }
    nav .image1 img{
        width: 25px;
        height: 15px;
    }
    header nav .btn1{
        width: 50px;
        height: 10px;
        font-size: 0.2rem;
    }
    .pcb{
        margin: 5px;
    }
    .box1{
        width: 100px;
        height: 100px;
    }
    
    .box1 img{
        width: 20px;
        height: 25px;
    }
    .subsection p{
        font-size: 0.3rem;
    }
    .subsection h3{
        font-size: 0.4rem;
    }
    .pcb h2{
        font-size: 0.6rem;
    }.mainsection{
        width: 100vw;
        height: 25vh;
    }
    .mainsection h1{
        font-size: 0.7rem;
        }
        .mainsection p{
        font-size: 0.4rem;
        }
        .mainsection .btn2{
        width: 40px;
        height: 15px;
        margin: 2px;
        font-size: 0.3rem;
        }
}